/* Structure */
.books-container {
  position: relative;
}

.books-table-container {
  position: relative;
  min-height: 200px;
  overflow: auto;
}

.books-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.search-form {
  width: 100%;
}

.search-full-width {
  width: 100%;
}