
<form class="search-form" (ngSubmit)="onSubmit($event)">
  <mat-form-field class="search-full-width">
    <mat-label>Type URL Here</mat-label>
    <input matInput [disabled]="isLoadingResults"
      placeholder="Ex. https://libgen.is/search.php?&res=50&req=topicid88&phrase=1&view=simple&column=def&sort=def&sortmode=ASC&page=1" [(ngModel)]="searchQuery" id="searchQuery" name="searchQuery" />
  </mat-form-field>
</form>

<!--
  https://libgen.is/search.php?&res=50&req=topicid88&phrase=1&view=simple&column=def&sort=def&sortmode=ASC&page=1
-->

<div class="search-full-width" *ngIf="isLoadingResults">
  <mat-spinner ></mat-spinner>
</div>

<div *ngIf="isSearched">
  <h2>New Books Added</h2>
  <ul class="new-books">
    <li *ngFor="let newBook of newBooks">
      {{newBook.title}}
    </li>
  </ul>
</div>

<div *ngIf="isSearched">
  <h2>Existing Books</h2>
  <ul class="existing-books">
    <li *ngFor="let existingBook of existingBooks">
      {{existingBook.title}}
    </li>
  </ul>
</div>
