* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-family: system-ui, sans-serif;
  background-color: #111827;
  color: #f9fafb;
  padding: 1.5rem;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  margin: 0;
}

form {
  display: grid;
  margin: 1rem 0;
  gap: 1rem;
}

@media screen and (min-width: 500px) {
  form {
    grid-template-columns: 1fr max-content;
  }
}

input[type="text"],
button,
#result {
  padding: 0.7rem 1.2rem;
  font-size: 1.3rem;
  border: 0;
  border-radius: 6px;
  letter-spacing: 0.05em;
  margin: 0;
}

.field label {
  display: block;
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  font-size: 1rem;
}

.field input[type="text"] {
  width: 100%;
}

input[type="text"] {
  color: #0f172a;
  background-color: #f9fafb;
  transition: box-shadow 0.2s;
  text-align: center;
  font-weight: bold;
}

input[type="text"]::placeholder {
  color: #9ca3af;
}

input[type="text"]:focus,
input[type="text"]:active {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(0, 0, 0, 0.7);
}

button {
  background-color: #0e7490;
  color: white;
  cursor: pointer;
  transition: box-shadow 0.2s, background-color 0.1s;
  text-align: center;
  font-weight: bold;
}

button:hover {
  background-color: #155e75;
}

button:focus,
button:active {
  outline: none;
  background-color: #164e63;
  box-shadow: 0 0 0 0.3rem rgba(0, 0, 0, 0.7);
}

#result {
  font-size: 1.2rem;
  line-height: 1.4em;
  background-color: rgba(0, 0, 0, 0.4);
}
