.navstart{

  margin-left:-550px;
}

.navend{
  margin-left:35%;
  transition: margin-left ease 1s;
}

.navendfull{
  margin-left:100%;
  transition: margin-left ease 1s;
}

.navbutton{
  padding-top:30px;
  padding-right:30px;
  padding-left:30px;
  text-decoration: none;
  font-size:18px;
  display:inline-block;
  font-weight: bold;
  color:brown;
}

.leftsec{

  color:lightblue;
  
}

.home{

  margin-left:30px;
}

.homeh1{

  margin-top:-10px;
}

.homep{

  
  text-align:justify; 
}

.homediv{

  max-width: 550px;
  max-height:150px; 
  
  overflow:hidden;
  
}

.h1{

  height:50px;

  overflow:hidden;

 
}